{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}

<div class="row d-flex justify-content-center">
	<div style="width: 30rem;">
		<div class="card">
			<h5 class="card-header">Login</h5>
			<div class="card-body p-5 text-center">
				
				<div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
					<form method="POST" action="{% url 'login' %}">
						{% csrf_token %}

						{% if next %}
							<div class="note note-danger mb-3">
								<i class="fas fa-exclamation-circle"></i> You have accessed a page that can only be accessed by logged-in users.<br>
								Please log in.
							</div>
        		{% endif %}

						{% if form.errors %}
							{% for field, errors in form.errors.items %}
								{% for error in errors %}
									<div class="note note-danger mb-3">
										<i class="fas fa-exclamation-circle"></i> {{ error }}
									</div>
								{% endfor %}
							{% endfor %}
						{% endif %}

						{% for field in form %}
							{% if field.help_text %}
								<div class="note note-primary mb-3">
									<strong>{{ field.label }}: </strong>{{ field.help_text }}
								</div>
								{% endif %}
							<div class="form-outline mb-4">
								{% if field.field.required %}<i class="fas fa-exclamation-circle trailing"></i>{% endif %}
								{{ field }}
								<label class="form-label" for="{{ field.id_for_label }}" style="margin-left: 0px;">{{ field.label }}</label>
							</div>
						{% endfor %}

						<!-- 2 column grid layout -->
						<div class="row mb-4">
							<div class="col-md-6 d-flex justify-content-center">
								<!-- Checkbox -->
								<div class="form-check mb-3 mb-md-0">
									<input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
									<label class="form-check-label" for="loginCheck"> Remember me </label>
								</div>
							</div>

							<div class="col-md-6 d-flex justify-content-center">
								<!-- Simple link -->
								<a href="{% url 'password_reset' %}">Forgot password?</a>
							</div>
						</div>

						<!-- Submit button -->
						<button type="submit" class="btn btn-primary btn-block mb-4">Login</button>

						<!-- Register buttons -->
						<div class="text-center">
							<p>Don't have an account? <a href="{% url 'signup' %}">Register</a></p>
						</div>
					</form>
				</div>
				
			</div>
		</div>
	</div>
</div>
{% endblock content%}