{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}

<div class="col-md-9">
	{% if user.is_authenticated %}
	<div class="row">
		<div class="col">
			<nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
				<ol class="breadcrumb mb-0">
					<li class="breadcrumb-item"><a href="{% url 'my_profile_view' %}">Profile</a></li>
					<li class="breadcrumb-item active" aria-current="page">Password reset</li>
				</ol>
			</nav>
		</div>
	</div>
	{% endif %}
	<div class="row justify-content-center">
		<div class="col-md-8">
			<div class="card">
				<h5 class="card-header">To reset your old password, enter the email address you registered with</h5>
				<div class="card-body p-5 text-center">
					
					<div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
						<form method="POST">
							{% csrf_token %}

							{% if form.errors %}
								{% for field, errors in form.errors.items %}
									{% for error in errors %}
										<div class="note note-danger mb-3">
											<i class="fas fa-exclamation-circle"></i> {{ error }}
										</div>
									{% endfor %}
								{% endfor %}
							{% endif %}

							{% for field in form %}
								{% if field.help_text %}
									<div class="note note-primary mb-3">
										<strong>{{ field.label }}: </strong>{{ field.help_text }}
									</div>
									{% endif %}
								<div class="form-outline mb-4">
									{% if field.field.required %}<i class="fas fa-exclamation-circle trailing"></i>{% endif %}
									{{ field }}
									<label class="form-label" for="{{ field.id_for_label }}" style="margin-left: 0px;">{{ field.label }}</label>
								</div>
							{% endfor %}

							<!-- Submit button -->
							<button type="submit" class="btn btn-primary btn-block mb-4">Reset password</button>
						</form>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content%}