<div id="carouselExampleIndicators" class="carousel slide" data-mdb-ride="carousel">
  <div class="carousel-indicators">
    <button
      type="button"
      data-mdb-target="#carouselExampleIndicators"
      data-mdb-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    {% for image in product.images.all %}
    <button
      type="button"
      data-mdb-target="#carouselExampleIndicators"
      data-mdb-slide-to="{{ forloop.counter }}"
      aria-label="{{ forloop.counter }}"
    ></button>
    {% endfor %}
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ product.preview_image.url }}" class="d-block w-100" alt=""/>
    </div>
    {% for image in product.images.all %}
    <div class="carousel-item">
      <img src="{{ image.image.url }}" class="d-block w-100" alt="Camera"/>
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>