<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid justify-content-between">
    <div class="d-flex">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="{% url 'index' %}">
        <img
          src="/static/logo.svg"
          width="30"
          height="30"
          alt=""
          loading="lazy"
          style="margin-top: -1px;"
        />
        Technoline
      </a>

      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarButtonsExample"
        aria-controls="navbarButtonsExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <a class="nav-link w-auto my-auto d-none d-sm-flex" href="#">Dashboard</a>

    </div>

    <ul class="navbar-nav flex-row d-none d-md-flex">
      <li class="nav-item me-3 me-lg-1 active">
        <!-- Search -->
        <form class="input-group w-auto my-auto d-none d-sm-flex" role="search" method="GET" action="{% url 'search-view' %}">
          <div class="input-group">
            <div class="form-outline">
              <input type="search" id="form1" class="form-control" name="query"/>
              <label class="form-label" for="form1">Search</label>
            </div>
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
        <!-- Search -->
      </li>
    </ul>

    <ul class="navbar-nav flex-row">
      <li class="nav-item me-3 me-lg-1">
        {% if user.is_authenticated %}
        {{user.username}}
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'password_change' %}">Change password</a>
        {% else %}
        <div class="d-flex align-items-center">
          <a class="btn btn-link px-3 me-2" href="{% url 'login' %}">Login</a>
          <a class="btn btn-primary me-3" href="{% url 'signup' %}">Sign up</a>
          <a
            class="btn btn-dark px-3"
            href="https://github.com/mdbootstrap/mdb-ui-kit"
            role="button"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      {% endif %}
      </li>
    </ul>

  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->