{% extends "base.html" %}

{% block content %}
	<div class="col">
		{% for order in orders %}
			<div class="card p-3 mb-3 shadow-sm">
				<h3>Order number: {{ order.pk }}</h3>
				{% for item in order.items.all %}
					<p>Product name: {{ item.product }} - total {{ item.total }}</p>
				{% endfor %}
				<hr>
				<h6>Additional info</h1>
				<p>Order address: {{ order.address }}</p>
				<p>Order phone: {{ order.phone }}</p>
				<p>Order email: {{ order.email }}</p>
			</div>
		{% endfor %}
	</div>
{% endblock content %}