<div class="row justify-content-center">
	<div class="col-md-6 justify-content-center">
		<div class="row justify-content-center mb-3">
			{% if widget.is_initial %}
			<!-- Profile img -->
			<img class="rounded-circle"
				src="{{ widget.value.url }}"
				alt=""
				style="width: 200px;"
			/>
			{% else %}
				<i class="far fa-user-circle fa-10x"></i>
			{% endif %}
		</div>
		<div class="row justify-content-center mb-3">
			<!-- Input -->
			<input
				style="width: 20rem;"
				class="form-control form-control-lg"
				type="{{ widget.type }}" 
				name="{{ widget.name }}"
				id="profile_picture"
				{% include "django/forms/widgets/attrs.html" %}
			/>
		</div>
		<!-- Checkbox -->
		<div class="row justify-content-center  mb-3">
			{% if not widget.required %}
			<div>
				<label class="form-check-label" for="{{ widget.checkbox_id }}">Remove profile picture</label>
				<input
					class="form-check-input"
					type="checkbox"
					name="{{ widget.checkbox_name }}"
					id="{{ widget.checkbox_id }}"
					{% if widget.attrs.disabled %} disabled{% endif %}
				/>
			</div>
			{% endif %}
		</div>
	</div>
</div>