{% extends "base.html" %}

{% block content %}
	<div class="col-md-8">
		{% for fav in favorites %}
			<div class="card mb-3">
				<div class="card-body">
					<div class="d-flex justify-content-between">
						<div class="d-flex flex-row align-items-center">
							<div>
								<img src="{{ fav.product.preview_image.url }}" class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
							</div>
							<div class="ms-3">
								<h5>{{ fav.product.product_name }}</h5>
								<p class="small mb-0"></p>
							</div>
						</div>
						<div class="d-flex flex-row align-items-center">
							<div style="width: 50px;">
								<h5 class="fw-normal mb-0"></h5>
							</div>
							<div style="width: 80px;">
								<h5 class="mb-0">{{ fav.product.price }}</h5>
							</div>
							<a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock content %}