{% extends "base.html" %}

{% block content %}
	<div class="container">
		<div class="row align-items-center">
			<div class="col">
				{% include "slider.html" with product=product %}
			</div>
			<div class="col">
				<ul>
					<li>Product category: {{ product.category }}</li>
					<p></p>
					{% for name, value in product.attributes.get.get_model_fields %}
					<li>{{ name }}: {{ value }}</li>
					{% endfor %}
				</ul>
			</div> <!--col-->
		</div> <!--row-->
	</div> <!--container-->
{% endblock %}