{% extends "base.html" %}

{% block content %}
	<div class="container">
		<div class="row align-items-center">
			<div class="col">
				{% include "slider.html" with product=product %}
				asdasdddddddddddddddddddddddddddddddddddddddddddddd
			</div>
			<div class="col">
				<ul>
					{% for attribute in product.attributes.get.get_model_fields %}
					<li>{{ attribute }}: {{ attribute.size }}</li>
					<li>Model: {{ smartphone.model_name }}</li>
					<li>Release Date: {{ smartphone.release_date }}</li>
					<li>Processor model: {{ smartphone.processor_model }}</li>
					<li>Display Type: {{ smartphone.display_type }}</li>
					<li>Display Size: {{ smartphone.display_size }}</li>
					<li>Display Resolution: {{ smartphone.display_resolution }}</li>
					<li>Color: {{ smartphone.color }}</li>
					{% endfor %}
				</ul>
			</div> <!--col-->
		</div> <!--row-->
	</div> <!--container-->
{% endblock %}